@model RegisterVM

@{
    ViewData["Title"] = "User Info";
}
<section class="content-header">
    <h1>
        User Info
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/User/Index"><i class="fa fa-users"></i> Manage Users</a></li>
        <li class="active">User Info</li>
    </ol>
</section>
<section class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">User Info</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input disabled value="@Model.FirstName" asp-for="FirstName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input disabled value="@Model.LastName" asp-for="LastName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input disabled value="@Model.Email" asp-for="Email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input disabled value="@Model.PhoneNumber" asp-for="PhoneNumber" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input disabled value="@Model.Address" asp-for="Address" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input disabled value="@Model.UserName" asp-for="UserName" class="form-control" />
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

